<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Page</title>
</head>
<body>
    <header>
        <h1>Pasta Paradise</h1>
        <nav>
            <button>Home</button>
            <button>Menu</button>
            <button>About</button>
        </nav>
    </header>
    <div id="content">
        <div id="menu">
            <ul>
                <li>
                    <img src="<%= require('./assets/images/Pasta-Aglio-E-Olio.jpg') %>">
                    <p>Pasta-Aglio-E-Olio</p>
                </li>
                <li>
                    <img src="<%= require('./assets/images/Fettuccine-Alfredo.jpg') %>">
                    <p>Fettuccine Alfredo</p>
                </li>
                <li>
                    <img src="<%= require('./assets/images/linguine-with-frenched-green-beans-and-parsley-pesto.jpg') %>">
                    <p>Linguine with Frenched Green Beans and Parsley Pesto</p>
                </li>
                <li>
                    <img src="<%= require('./assets/images/cauliflower-pasta.jpg') %>">
                    <p>Pasta with Roasted Cauliflower and Crispy Capers</p>
                </li>
                <li>
                    <img src="<%= require('./assets/images/cacio-e-plantain.jpg') %>">
                    <p>Cacio e Plantain</p>
                </li>
                <li>
                    <img src="<%= require('./assets/images/Pulling-from-the-Pantry-Puttanesca.jpg') %>">
                    <p>Pulling-from-the-Pantry Puttanesca</p>
                </li>
                <li>
                    <img src="<%= require('./assets/images/Pasta-Bolognese.jpg') %>">
                    <p>Pasta Bolognese</p>
                </li>
                <li>
                    <img src="<%= require('./assets/images/Lobster-Pasta.jpg') %>">
                    <p>Lobster Pasta with Corn and Tomatoes</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>