* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

:root {
    --greyBackground: rgb(0, 0, 0, 0.9);
}

body {
    background-image: url("assets/images/main-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "title-font";
    src: url(assets/fonts/italianno/Italianno-Regular.ttf);
}

@font-face {
    font-family: "homepage-title";
    src: url(assets/fonts/ostrich-sans/ostrich-sans/OstrichSans-Bold.otf);
}

@font-face {
    font-family: "homepage-text";
    src: url(assets/fonts/ostrich-sans/ostrich-sans/OstrichSansInline-Italic.otf);
}

header {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--greyBackground);
    border-bottom: 2px solid #a5a5a5;
}

h1 {
    font-family: title-font, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
    font-size: 5rem;
    font-weight: lighter;
    color: white;
}

#content {
    margin-top: 50px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 600px;
    background-color: var(--greyBackground);
    color: white;
}

h2 {
    font-family: homepage-title, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    height: 110px;
}

nav {
    display: flex;
    gap: 85px;
}

nav button {
    font-family: title-font, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: inherit;
    border: none;
    color: white;
    font-size: 2.3rem;
    cursor: pointer;
}

#home p {
    font-family: homepage-text, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 30px;
}

#home button {
    border: solid white;
    padding: 14px;
}

#home button:hover {
    border-color: yellow;
}


ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 370px;
    margin-top: 7px;
    list-style-type: none;
  }

#menu {
    display: flex;
    height: 850px;
    background-color: var(--greyBackground);
    color: white;
}

#menu img {
    width: 400px;
    height: 266.656px;
    border-radius: 38px;
    margin-top: 40px;
}

#menu p {
    font-family: title-font, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    font-size: 2.5rem;
    margin-top: 5px;
    text-align: center;
}

